apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "eventstore.fullname" . }}-env
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/name: {{ include "eventstore.name" . }}
    helm.sh/chart: {{ include "eventstore.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/component: database
data:
  ## Internal TCP port.
  EVENTSTORE_INT_TCP_PORT: {{ quote .Values.intTcpPort }}
  ## External HTTP port.
  EVENTSTORE_HTTP_PORT: {{ quote .Values.extHttpPort }}
  ## The number of nodes in the cluster.
  EVENTSTORE_CLUSTER_SIZE: {{ quote .Values.clusterSize }}
  ## DNS name from which other nodes can be discovered. 
  # EVENTSTORE_CLUSTER_DNS: {{ include "eventstore.dns" . }}
  ## Port on which nodes should gossip
  # EVENTSTORE_CLUSTER_GOSSIP_PORT: {{ quote .Values.extHttpPort }}
  ## The amount of drift, in ms, between clocks on nodes allowed before gossip is rejected.
  # EVENTSTORE_GOSSIP_ALLOWED_DIFFERENCE_MS: {{ quote .Values.gossipAllowedDiffMs }}
  EVENTSTORE_INDEX:  {{ quote .Values.persistence.index.mountPath }}
  EVENTSTORE_DB:  {{ quote .Values.persistence.data.mountPath }}

  EVENTSTORE_RUN_PROJECTIONS: {{ quote .Values.runProjections }}
  EVENTSTORE_INSECURE: {{ quote .Values.insecure }}
  EVENTSTORE_ENABLE_ATOM_PUB_OVER_HTTP: {{ quote .Values.enableAtomPubOverHTTP }}

  # ----------------------------------------------------------------------------

  ## Internal TCP port.
  KURRENTDB_ALLOW_UNKNOWN_OPTION: "true"
  KURRENTDB_REPLICATION_PORT: {{ quote .Values.intTcpPort }}
  ## External HTTP port.
  KURRENTDB_NODE_PORT: {{ quote .Values.extHttpPort }}
  ## The number of nodes in the cluster.
  KURRENTDB_CLUSTER_SIZE: {{ quote .Values.clusterSize }}
  ## DNS name from which other nodes can be discovered.
  # KURRENTDB_CLUSTER_DNS: {{ include "eventstore.dns" . }}
  ## Port on which nodes should gossip
  # KURRENTDB_CLUSTER_GOSSIP_PORT: {{ quote .Values.extHttpPort }}
  ## The amount of drift, in ms, between clocks on nodes allowed before gossip is rejected.
  # KURRENTDB_GOSSIP_ALLOWED_DIFFERENCE_MS: {{ quote .Values.gossipAllowedDiffMs }}
  KURRENTDB_INDEX:  {{ quote .Values.persistence.index.mountPath }}
  KURRENTDB_DB:  {{ quote .Values.persistence.data.mountPath }}

  KURRENTDB_RUN_PROJECTIONS: {{ quote .Values.runProjections }}
  KURRENTDB_INSECURE: {{ quote .Values.insecure }}
  KURRENTDB_ENABLE_ATOM_PUB_OVER_HTTP: {{ quote .Values.enableAtomPubOverHTTP }}

  # Note: changing `Values.eventStoreConfig` won't change the configmap 
  # checksum and so won't make the pods restart
  {{- range $setting, $option := .Values.eventStoreConfig }}
  {{ $setting }}: "{{ $option }}"
  {{- end }}
